/* Styles for the header */
*{  
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #27282B;
    font-family: roboto, sans-serif;
    color: #eBEBEB;
}

header {
    background-color: #201E1E; /* Background color for the header */
    color: #EBEBEB; /* Text color for the header */
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
  
  /* Styles for the image container */
.image-container {
    margin-right: 50px;
}
  
.image-container img {
    display: block;
    width: 35px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}
  
  /* Styles for the navigation bar */
  .nav-bar ul {
    list-style: none; /* Remove bullet points from the list */
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: flex-end; /* Align the links to the flex-end */
}
  
.nav-bar li {
    margin-right: 20px; /* Adjust the margin as needed */
}
  
.nav-bar a {
    white-space: nowrap;


    font-size: 12px;
    text-decoration: none;
    color: #fff; /* Text color for links */
    font-weight: bold; /* Add font weight to make links bold */
}
  
  /* Change link color on hover */
.nav-bar a:hover {
    color: #55EC20; /* Change the link color on hover */
}

.lige-nu-main {
    display: flex;
    position: relative;
    justify-content: center;
    
}
 svg{
    float: right;
    padding-top: 5px;
    padding-right: 20px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

svg a path{
    fill:#55ec20
}

.elprisenNu{
    position: absolute;
    top:
    justify-content: center;
    align-items: center;
}

.elprisenNu h1{
    font-family: Roboto;
    font-size: 32px;
    font-weight: 300;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
}



.ellipse {
    position: absolute;
    justify-content: center;
    align-items: center;
}

.image-1 {
    position: absolute;
    justify-content: center;
    align-items: center;
}

.image-2 {
    position: absolute;
    justify-content: center;
    align-items: center;
}

.image-3 {
    position: absolute;
    justify-content: center;
    align-items: center;
}

#currentPrice{
    position: absolute;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #201E1E;
    position:absolute;
    bottom:0;
    padding: 20px;
    width: 100%;
}

footer p{
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #EBEBEB;
}

  @media only screen and (max-width: 400px) {
    .nav-bar a {
        font-size: 3vw;
    }
  }
    
  